@import "file:///D:/idea/source/person/relaxed-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_e64ad934d0fed84cee472359b032020e/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:///D:/idea/source/person/relaxed-docs/src/.vuepress/styles/config.scss";
