name: Build and Deploy
#on: [push]
on:
  push:
    branches:
      - gh_pages
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: relaxed-docs
        uses: xiaoashuo/relaxed-docs@master
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          TARGET_REPO: xiaoashuo/relaxed-docs
          TARGET_BRANCH: gh_pages
          BUILD_SCRIPT: pnpm && pnpm docs:build
          BUILD_DIR: src/.vuepress/dist